
# ---- .NET ----
/QR_API/QR_API/bin/
/QR_API/QR_API/obj/
/QR_API/QR_API/*.user
/QR_API/QR_API/*.csproj.user
/QR_API/QR_API/*.suo
/QR_API/QR_API/.vs/
/QR_API/API_Application.Interfaces/bin/
/QR_API/API_Application.Interfaces/obj/
/QR_API/API_Application.Interfaces/*.user
/QR_API/API_Application.Interfaces/*.csproj.user
/QR_API/API_Application.Interfaces/*.suo
/QR_API/API_Application.Interfaces/.vs/
/QR_API/API_Application.Models/bin/
/QR_API/API_Application.Models/obj/
/QR_API/API_Application.Models/*.user
/QR_API/API_Application.Models/*.csproj.user
/QR_API/API_Application.Models/*.suo
/QR_API/API_Application.Models/.vs
/QR_API/API_Application.Services/bin/
/QR_API/API_Application.Services/obj/
/QR_API/API_Application.Services/*.user
/QR_API/API_Application.Services/*.csproj.user
/QR_API/API_Application.Services/*.suo
/QR_API/API_Application.Services/.vs
